:root {
    --yellow: #F9B73B;
    --orange: #F47500;
    --orange-hover: #CC6300;
    --red: #A52416;
    --red-hover: #902014;
    --red-light: #D02E00;
    --red-light-hover: #B82800;
    --green: #139C13;
}

html,
body {
    font-family: 'Alegreya Sans', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-weight: 500;
}

body {
    counter-set: count;
}

a.cta,
button.cta,
a.cta-secondary,
button.cta-secondary {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    min-width: 200px;
}

a.cta,
button.cta {
    color: #fff;
    background-color: var(--orange);
    clip-path: polygon(0 7%, 100% 0%, 95% 100%, 2.5% 95%);
    background-image: linear-gradient(to bottom, #F47500, #D02E00);
    border-top: 1px solid #F9B73B;
    transition: transform 0.12s ease, clip-path 0.3s ease, background-color 0.12s ease;
}

a.cta-secondary,
button.cta-secondary {
    color: var(--red-light);
}

a.cta-secondary:hover,
a.cta-secondary:focus,
button.cta-secondary:hover,
button.cta-secondary:focus {
    color: var(--red-light-hover);
    background-color: var(--yellow);
}

a.cta:hover,
button.cta:hover {
    transition: background-image 0.2s ease;
    background-color: var(--orange-hover);
    background-image: linear-gradient(to bottom, #CC6300, #A52416);
}

a.cta:focus,
button.cta:focus {
    transform: scale(1.125);
    clip-path: polygon(5% 0, 95% 0%, 100% 95%, 2.5% 100%);
    animation: pulse 1s ease infinite forwards;
}

a.cta.red-light,
button.cta.red-light {
    background-color: var(--red);
    background-image: none !important;
}

a.cta.red-light:hover,
button.cta.red-light:hover {
    background-color: var(--red-hover);
}

.card,
.card-1 {
    clip-path: polygon(0 8px, 100% 0%, calc(100% - 10px) 100%, 10px calc(100% - 8px));
}

.card-2 {
    clip-path: polygon(0 0, 100% 8px, calc(100% - 10px) calc(100% - 8px), 10px 100%);
}

.card {
    counter-increment: count;
    position: relative;
}

.card::before {
    content: '0'counter(count);
    display: block;
    font-size: 16rem;
    position: absolute;
    pointer-events: none;
    user-select: none;
    line-height: 1;
    font-weight: 700;
    right: 64px;
    top: -16px;
    color: #fff;
    opacity: 0.35;
    z-index: -1;
}

.header {
    clip-path: polygon(0 5px, 100% 0%, calc(100% - 4px) 100%, 5px calc(100% - 5px));
}

.nav-button.button-primary {
    display: block;
    display: flex;
    background-color: var(--red);
    clip-path: polygon(0 3px, 100% 0%, calc(100% - 3px) 100%, 3px calc(100% - 3px));
}

.nav-button.button-primary:hover {
    background-color: var(--red-hover);
}

.nav-button.button-primary:focus {
    transform: scale(1.1);
    transition: transform 0.12s ease, clip-path 0.12s ease;
    clip-path: polygon(3px 0px, calc(100% - 3px) 3px, 100% calc(100% - 3px), 0 100%);
    animation: changeBg 1s ease infinite forwards;
}

.bg-yellow {
    background-color: var(--yellow);
}

.characters-card {
    background-color: var(--orange);
}

.coming-soon h2 {
    text-shadow: 0 2px 2px var(--red), 
                 0 3px 3px var(--red),
                 0 4px 4px var(--red);
}

.shift-up {
    margin-top: -120px;
}

.bg-green {
    background-color: var(--green);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-red {
    background-color: var(--red);
}

.color-red {
    color: var(--red);
}

.color-green {
    color: var(--green);
    
}

.color-orange {
    background-color: var(--orange);

}

.color-yellow {
    color: var(--yellow);
}

.color-white {
    color: #fff;
}

.hero-home .hero-content,
.hero-small {
    padding-top: 168px;
    padding-bottom: 184px;
}

.hero-small {
    height: auto;
    min-height: 480px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 24px), 0% 100%);
}

.hero-small .hero-content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.post-img {
    padding-bottom: 100%;
    clip-path: polygon(0% 0%, 100% 10px, 100% 100%, 0 100%);
}

.weapon-card,
.character-card {
    height: auto;
    margin-right: 24px;
}

.character-card {
    padding: 24px;
}

.weapon-card img,
.character-card:not(.coming-soon) img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.weapon-card:last-child {
    margin-right: 0;
}

.card .coming-soon {
    user-select: none;
}

.character-card {
    min-height: 320px;
}

.card .card-img {
    display: block;
    height: auto;
    width: 100%;
    position: relative;
}

.weapon-card .card-img {
    padding-bottom: 75%;
}

.character-card .card-img {
    padding-bottom: 100%;
    position: relative;
}

.character-card .card-img::before {
    content: '';
    display: block;
    width: 70%;
    padding-bottom: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9999px;
    background-color: #fff;
    opacity: 0.5;
    z-index: 0;
}

.card .card-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 24px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.card .card-content {
    flex-grow: 1;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 16px, 100% 100%, 0 100%);
}

.card .card-title {
    width: 100%;
    margin-bottom: 12px;
    font-size: 2rem;
    line-height: 1.125;
    padding: 32px 24px 12px;
    font-weight: 600;
}

.weapon-card .more-details {
    padding: 0 24px 24px;
}

.weapon-k-block {
    font-size: 0.875rem;
    line-height: 1;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #A52416;
    font-weight: 500;
}

.weapon-v-block {
    font-size: 1.25rem;
    line-height: 1;
    text-transform: capitalize;
    color: #222;
    font-weight: 600;
}

.power-block {
    display: block;
    width: 100%;
    height: 20px;
    position: relative;
    margin-top: 20px;
    background-color: #F9B73B;
}

.power-block .power-fill {
    display: block;
    height: 100%;
    background-color: #D02E00;
}

.power-block .power-fill.power-25 {
    width: 25%;
}

.power-block .power-fill.power-50 {
    width: 50%;
}

.power-block .power-fill.power-70 {
    width: 70%;
}

.power-block .power-fill.power-100 {
    width: 100%;
}

.map-card {
    clip-path: polygon(0 10px, 100% 10px, 100% calc(100% - 16px), 0 calc(100% - 8px));
}

.map-card .card-img {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 61%;
}

.map-card .card-img img {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    object-fit: cover;
    object-position: center;
}

.maps-list {
    width: 100%;
    position: relative;
}

.maps-list:not(.swiper-initialized) {
    overflow-x: auto;
}

.maps-section {
    overflow: hidden;
}

.maps-list .slider-nav {
    display: block;
    width: 56px;
    height: 56px;
    padding: 16px;
    position: absolute;
    top: 50%;
    background-color: #F9B73B;
    z-index: 3;
}

.maps-list .slider-nav-next {
    right: 0%;
    transform: translate(50%, -50%);
}

.maps-list .slider-nav-next:focus {
    transition: transform 0.12s ease;
    transform: translate(50%, -50%) scale(1.2);
}

.maps-list .slider-nav-prev {
    left: 0%;
    transform: translate(-50%, -50%);
}

.maps-list .slider-nav-prev:focus {
    transition: transform 0.12s ease;
    transform: translate(-50%, -50%) scale(1.2);
}

.maps-list .slider-nav:hover,
.maps-list .slider-nav:focus {
    transition: background-color 0.12s ease;
    background-color: #F47500;
}

.maps-list .slider-nav.swiper-button-disabled {
    display: none;
}

.maps-list .slider-nav img {
    width: 24px;
    height: 24px;
    pointer-events: none;
}

@keyframes pulse {
    to {
        background-image: linear-gradient(to bottom, #CC6300, #A52416);
    }
}

@keyframes changeBg {
    to {
        background-color: var(--red-hover);
    }
}