:root {
    --yellow: #F9B73B;
    --orange: #F47500;
    --orange-hover: #CC6300;
    --red: #A52416;
    --red-hover: #902014;
    --red-light: #D02E00;
    --red-light-hover: #B82800;
    --green: #139C13;
}

html,
body {
    font-family: 'Alegreya Sans', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-weight: 500;
}

a.cta,
button.cta {
    display: inline-block;
    background-color: var(--orange);
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    min-width: 200px;
    clip-path: polygon(0 7%, 100% 0%, 95% 100%, 2.5% 95%);
    transition: background-color 0.12s ease-in;
}

a.cta:hover,
button.cta:hover {
    background-color: var(--orange-hover);
}

a.cta.red-light,
button.cta.red-light {
    background-color: var(--red);
}

a.cta.red-light:hover,
button.cta.red-light:hover {
    background-color: var(--red-hover);
}

.card {
    clip-path: polygon(0 8px, 100% 0%, calc(100% - 10px) 100%, 10px calc(100% - 8px));
}

.header {
    clip-path: polygon(0 5px, 100% 0%, calc(100% - 4px) 100%, 5px calc(100% - 5px));
}

.nav-button.button-primary {
    background-color: var(--red);
    clip-path: polygon(0 3px, 100% 0%, calc(100% - 3px) 100%, 3px calc(100% - 3px));
}

.nav-button.button-primary:hover {
    background-color: var(--red-hover);
}

.bg-yellow {
    background-color: var(--yellow);
}

.coming-soon h2 {
    text-shadow: 0 2px 2px var(--red), 
                 0 3px 3px var(--red),
                 0 4px 4px var(--red);
}

.shift-up {
    margin-top: -120px;
}

.bg-green {
    background-color: var(--green);
}

.bg-red {
    background-color: var(--red);
}

.color-red {
    color: var(--red);
}

.color-green {
    color: var(--green);
    
}

.color-orange {
    color: var(--orange);
    background-color: var(--orange);

}

.color-yellow {
    color: var(--yellow);
}

.color-white {
    color: #fff;
}

.hero-home .hero-content,
.hero-small {
    padding-top: 104px;
    padding-bottom: 120px;
}

.hero-small {
    height: auto;
    min-height: 480px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 24px), 0% 100%);
}

.hero-small .hero-content {
    padding-top: 120px;
    padding-bottom: 120px;
}

.post-img {
    padding-bottom: 100%;
    clip-path: polygon(0% 0%, 100% 10px, 100% 100%, 0 100%);
}